.jumbotron,
.card {
  /* box-shadow: 0px 4px 6px slategray; */
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.75);
}

td,
th {
  text-align: center;
}

body {
  background-color: rgb(13, 70, 241);
}

.clock {
  float: right;
  font-size: 50px;
  /* color: rgba(76, 159, 187, 0.75); */
  color: rgba(255, 255, 255, 0.6);
  font-family: "Montserrat", sans-serif;
  margin-left: 30px;
}

.card {
  margin: 20px 7px 5px 7px;
  border: white 1px solid;
  border-radius: 10px;
}

.col-md-8 {
  padding: 0px 0px;
  margin-bottom: 10px;
}

.col-md-4 {
  /* margin: 0px 15px 0px 15px; */
  padding: 0px;
}

.jumbotron h1 {
  /* font-family: 'Roboto', sans-serif; */
  color: white;
  font-size: 100px;
  line-height: 90px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

.jumbotron {
  /* background-color: #006dcc; */
  /* margin: 0px 10px 20px 10px; */
  /* background: none; */
  background: url("https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwiv3PS_3q3iAhWJ4J4KHW5WA6QQjRx6BAgBEAU&url=https%3A%2F%2Fwww.wired.com%2F2014%2F08%2Fthe-beautiful-graveyard-where-bolivias-trains-went-to-die%2F&psig=AOvVaw0VC6g25KsuDf48g9vBnQE3&ust=1558566124089788");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 40px 200px 40px;
  margin: 0px;
}

.jumbotron h3 {
  font-size: 26px;
  color: white;
  font-family: "Raleway", sans-serif;
  padding-left: 3px;
}

.card-header {
  background-color: white;
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: bold;
  border-radius: 10px !important;
  border: white 1px solid;

  color: rgb(17, 91, 114);
}

tr:nth-child(even) {
  /* background-color: rgba(173, 216, 230, 0.50); */
  background-color: rgb(255, 234, 140, 0.8);
}

th,
td,
label,
input {
  /* font-family: 'Monserrat', sans-serif; */
  font-family: "Raleway", sans-serif;
}

label {
  font-weight: bold;
}

th,
tr {
  border: none !important;
}

tr:hover {
  background-color: gold !important;
}

.tr-head:hover {
  background-color: white !important;
}

.form-control {
  background-color: rgba(173, 216, 230, 0.5);
}

.row {
  margin-top: -100px;
  margin-left: 20px;
  margin-right: 20px;
}

.btn {
  background-color: rgb(17, 91, 114);
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  border: none;
}

#footer {
  background-color: black;
  height: 50px;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  line-height: 40px;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-top: 10px;
}

#page-container {
  position: relative;
  min-height: 100vh;
}
#content-wrap {
  padding-bottom: 2.5rem; /* Footer height */
}

@media screen and (max-width: 800px) {
  .jumbotron h1 {
    font-size: 75px;
    line-height: 70px;
  }

  .jumbotron h3 {
    font-size: 20px;
  }

  .jumbotron {
    padding: 20px 20px 150px 20px;
  }
  .clock {
    font-size: 35px;
  }
}

@media screen and (max-width: 500px) {
  .card {
    margin: 10px 0px 5px 0px !important;
    border: white 1px solid;
    border-radius: 10px;
  }
  .row {
    margin: -40px 3px 5px 3px !important;
  }

  .clock {
    font-size: 30px;
  }

  .card-header {
    background-color: white;
    font-family: "Raleway", sans-serif;
    font-size: 25px;
    font-weight: bold;
    border-radius: 10px !important;
    border: white 1px solid;

    color: rgb(17, 91, 114);
  }

  th,
  td,
  tr,
  label,
  input {
    font-size: 12px;
  }

  .jumbotron h1 {
    font-size: 75px;
    line-height: 70px;
  }

  .jumbotron h3 {
    font-size: 15px;
  }

  .jumbotron {
    padding: 20px 20px 60px 20px;
  }
}

@media screen and (max-width: 360px) {
  .clock {
    font-size: 25px;
  }

  th,
  td,
  tr,
  label,
  input {
    font-size: 10px;
  }

  .jumbotron h1 {
    font-size: 65px;
    line-height: 60px;
  }

  .jumbotron h3 {
    font-size: 20px;
  }

  .jumbotron {
    padding: 20px 20px 45px 20px;
  }

  .card-header {
    font-size: 20px;
  }
}
